@import '../../../variables/variables.scss';

.dashboard-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 45px;
    padding-top: 100px;
    background-color: $primary-bg-dark;
    box-shadow: $box-shadow;
    h4 {
        color: $primary-bg-dark-title;
        font-size: $primary-title-fs;
    }
    a:hover {
        font-weight: bold;
        cursor: pointer;
    }
}

.dashboard-new-project-button {
    padding: 5px;
}

.dashboard-new-project-button:hover {
    background-color: hsla(0, 0%, 100%, 0.13);
    border-radius: 50px;
}

.dashboard-new-project-sub-text {
    color: $primary-bg-dark-text;
    font-size: 12px;
    position: relative;
    top: -3px;
}

// project overview
.dashboard-project-overview {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    h4 {
        padding: 5px 25px;
    }
}

// project overview grid - not responsive yet (will change grid layout in media query for ipad and mobile)
.overview-display {
    margin: 0 25px;
    position: relative;
    top: -50px;
    flex-basis: 100%;
    display: grid;
    color: $primary-bg-dark-title;
    // color: #fff;
    grid-template-columns: 55px 40px 45px 40px 60px 40px 65px 40px 60px;
    grid-template-rows: 20px 50px;
    grid-template-areas:
        'total_icon total_title total_title total_title . . . . .'
        'total_icon total_num . . . . . . .'
        '. new_icon new_title hold_icon hold_title canceled_icon canceled_title completed_icon completed_title'
        '. new_icon new_num hold_icon hold_num canceled_icon canceled_num completed_icon completed_num';
}

.overview-icon-main {
    width: 40px;
    height: auto;
    color: $primary-bg-light-grey;
}

.overview-label-main {
    color: $primary-bg-light-grey;
    position: relative;
    top: 5px;
    font-size: $sub-text-fs;
}

.overview-num-main {
    font-family: $font-family;
    font-size: 20px;
}

.overview-icon {
    width: 30px;
    height: auto;
    color: $primary-bg-light-grey;
}

.overview-label {
    color: $primary-bg-light-grey;
    font-size: 12px;
}

.overview-num {
    font-weight: bolder;
}

// overview grid-area sections
.overview-total {
    grid-area: total_icon;
}

.overview-total-title {
    grid-area: total_title;
}

.overview-total-num {
    grid-area: total_num;
}

.overview-new {
    grid-area: new_icon;
}

.overview-new-title {
    grid-area: new_title;
}

.overview-new-num {
    grid-area: new_num;
}

.overview-hold {
    grid-area: hold_icon;
}

.overview-hold-title {
    grid-area: hold_title;
}

.overview-hold-num {
    grid-area: hold_num;
}

.overview-canceled {
    grid-area: canceled_icon;
}

.overview-canceled-title {
    grid-area: canceled_title;
}

.overview-canceled-num {
    grid-area: canceled_num;
}

.overview-completed {
    grid-area: completed_icon;
}

.overview-completed-title {
    grid-area: completed_title;
}

.overview-completed-num {
    grid-area: completed_num;
}

// your projects
.dashboard-your-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    width: 60%;
    margin: 0 20px 0 0;
    overflow-x: scroll;
    h4 {
        padding: 5px 25px 0 0;
    }
    button {
        background-color: transparent;
        color: $primary-bg-dark-link;
        font-size: 16px;
        border: none;
        margin-left: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .your-projects-icons {
        margin-left: auto;
        color: $primary-bg-dark-link-hover;
        font-size: 20px;
        position: relative;
        top: 2px;
    }
    #your-project-icons-left {
        padding-right: 10px;
    }
    .your-projects-buttons {
        font-size: 25px;
    }
    .your-projects-buttons:hover {
        cursor: pointer;
        color: rgba(63, 60, 57, 0.219);
    }
}

.overview-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
}

.dashboard-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
}

.your-projects-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    height: 210px;
    width: 100%;
    .your-projects-none {
        flex-grow: 1;
        text-align: center;
        span {
            color: #777777;
            font-size: 12px;
        }
    }
}

// single project
.single-project {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    margin-right: 30px;
    border-radius: 3px;
    span {
        padding: 10px 15px 0 15px;
        font-size: 12px;
        color: $primary-bg-dark-title;
    }
    .card-divider {
        align-self: center;
        height: 0.5px;
        width: 80%;
        margin-top: 15px;
        background-color: $accent-gold;
    }
    h3 {
        padding: 5px 15px;
        color: $primary-bg-dark-title;
        text-align: center;
    }
    .view-details-block {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.219);
        span {
            position: relative;
            top: -5px;
            margin-left: 40%;
            color: #fff;
        }
        .view-details-chevron {
            position: relative;
            top: 1px;
            font-size: 10px;
            padding-left: 8px;
        }
    }
}

.single-project:hover {
    transition: all 400ms ease;
    opacity: 0.8;
    cursor: pointer;
    h3 {
        color: black;
    }
}

.archive-icon {
    margin-right: 25px;
    font-size: 1.2em;
    color: $primary-bg-dark-text;
}
.archive-icon:hover {
    cursor: pointer;
}
