@import './variables/variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.css';

* {
    font-family: $font-family;
}

body {
    margin: 0;
    padding-bottom: 100px;
}

.statusColorNew {
    background-color: $accent-grayish-red;
    fill: $accent-grayish-red;
}

.statusColorDesign {
    background-color: $accent-grayish-orange;
}
.statusColorInternal {
    background-color: $accent-grayish-orange;
}

.statusColorHold {
    background-color: $accent-pink-shade-granite;
}

.statusColorCanceled {
    background-color: $accent-dark-gray;
}

.statusColorRFP {
    background-color: $accent-gold;
}
.statusColorAwarded {
    background-color: $accent-gold;
}
.statusColorCompleted {
    background-color: $accent-gold;
}

.statusColorDefault {
    background-color: $accent-light-grayish-yellow;
}

.background-unset {
    background-color: unset;
}

.project-title-with-status-icon {
    display: flex;
    align-items: center;
}
