@import './variables/variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.css';

* {
    font-family: $font-family;
}

body {
    margin: 0;
    padding-bottom: 100px;
}

.statusColorConfigureDesign {
    background-color: $accent-grayish-red;
    fill: $accent-grayish-red;
}


.statusColorRFPCompleted {
    background-color: $accent-pink-shade-granite;
    fill: $accent-pink-shade-granite;
}

.statusColorSavedProjects {
    background-color: $accent-dark-gray;
}

.statusColorOnHold {
    background-color: $accent-gold;
}

.statusColorAwarded {
    background-color: $accent-light-grayish-yellow;
    fill: $accent-light-grayish-yellow;
}

.statusColorTemplateNew {
    background-color: $accent-dark-gray;
}

.background-unset {
    background-color: unset;
}

.project-title-with-status-icon {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: black;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.submit-icon {
    margin-right: 6px;
}

.text-center {
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.back-to-project {
    font-weight: bold;
    .chevron-icon {
        margin-top: 1%;
        padding-right: 0.5em;    
    }
    a, button {
        text-decoration: none;
        font-size: 14px;
        color: black;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    a:hover, button:hover {
        color: #ada9a9ab;
    }
}

.back-button-container {
    height: 7vh;
}

.icon-container {
    padding-left: 40px;
    border-left: 1px solid #ada9a9ab;
}

.archive-icon {
    margin-left: 15px;
    font-size: 1.2em;
    color: #949494;
}

.archive-icon:hover {
    cursor: pointer;
}

.clone-icon {
    margin-left: 15px;
    font-size: 1.2em;
    color: #949494;
}

.clone-icon:hover {
    cursor: pointer;
}

.edit-icon {
    margin-left: 0px;
    font-size: 1.2em;
    color: #949494;
}

.edit-icon:hover {
    cursor: pointer;
}

.container-filter {
    height: 100%;
    position: fixed;
    z-index: 13;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 100px !important;
    background-color: $primary-bg-dark;
    border-left: $accent-gold 1px solid;
    border-top: $accent-gold 1px solid;
    box-shadow: $box-shadow;
}

.carousel-wrapper {
    display: inline-block;
    width: 50%;
    grid-area: carousel;
}

.grey {
    color: #949494;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}
