@import '../../../../variables/variables.scss';

.catalog-design-styles {
    flex: 1;
    color: $primary-bg-dark-text;
    span {
        position: relative;
        top: 25px;
        left: 50px;
    }
}
.catalog-design-styles-buttons {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 15px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
    .design-style-button {
        width: 220px;
        padding: 20px 0;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid $accent-gold;
        color: $primary-bg-dark-text;
        font-size: $primary-text-fs;
        font-weight: 100;
    }
    .design-style-button:hover {
        transition: 600ms ease;
        cursor: pointer;
        background-color: $accent-gold;
        font-weight: bold;
        color: $primary-bg-white;
        border: 1px solid $primary-bg-dark-button-text;
    }
}

.catalog-design-styles-divider {
    height: 0.5px;
    width: 100%;
    background-color: $line-dark;
}

.catalog-main-container {
    height: fit-content;
}

.catalog-use-packages {
    border-bottom: 1px solid $accent-gold;
}

.pagination2 {
    margin-bottom: 10px;
}
.table-showing2 {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-catalog-filter-container {
    h4 {
        color: $primary-bg-dark-title;
        margin-top: 20px;
        padding: 0 50px;
    }

    b {
        color: $primary-bg-dark-text;
        margin-left: 15px;
    }

    h5 {
        color: $primary-bg-dark-text;
        padding: 0 50px;
        margin: 0px;
    }

    li {
        font-size: $sub-text-fs;
    }

    .all-pulled-types {
        color: $accent-gold;
    }
    .cards-container {
        height: 55vh;
        overflow-y: scroll;
    }
}

.filter-catalog-container {
    height: 300px;
    margin-bottom: 3rem;
}

.table-showing {
    width: fit-content;
    position: absolute;
    margin-top: 20px;
}

.catalog-item {
    width: 300px;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: #00000029 0px 2px 4px, #0000003b 0px 2px 4px;
    border-bottom: solid 1px #ada9a9ab;
    border-right: solid 1px #ada9a9ab;
    border-left: solid 1px #ada9a9ab;

    img {
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        width: 100%;
        padding: 0px;
        height: 220px;
    }

    &:hover {
        transition: all 0.2s ease-in-out;
        img {
            transition: all 0.2s ease-in-out;
            opacity: 0.4;
        }
        background-color: $primary-bg-dark;
        height: fit-content;
    }
    .item-bottom-sections {
        background: $primary-bg-white;
        border-radius: 0.3rem;
        min-height: 100px;
        overflow-y: scroll;
        h4 {
            text-align: center;
            font-weight: 500;
            font-size: 14px;
        }
        span {
            color: $primary-bg-white-sub-text;
            font-size: 12px;
        }
    }
}
