@import "../../../variables/variables.scss";
.room-details-container {
  background-color: white;
  width: 37.5%;
  height: 500px;
//   border: 1px solid red;
}
.room-details-top {
  display: inline-flex;
}
.room-details-close-button {
  font-size: 20px;
  margin: 10px;
}
.room-details-close-button:hover {
  cursor: pointer;
}
.room-details-project-name {
  font-size: 12px;
  // align-self: flex-end;
  // align-items: flex-end;
  // align-content: flex-end;
  // float: right;
  // right: 0;
  padding-left: 300px;
}
.room-details-room-name-bar{
    margin-right: 0px;
    display: inline-flex;
    width: 350px;
    justify-content: space-evenly;
}
.room-details-circle-icon {
  margin-left: 7px;
  margin-top: 5px;
  font-size: 10px;
  color: red;
}
.trash-icon {
  margin-left: 15px;
  font-weight: 800;
  font-size: 1.2em;
}
.trash-icon:hover{
    cursor: pointer;
}
.room-description-light-divider{
    border-bottom: 1px solid black;
    margin-right: 50px;
    margin-left: 40px;
}
.room-description-no-lights{
    display: block;
    align-self: center;
    align-content: center;
    padding-left: 35%;
    padding-top: 15%;
}

