@import '../../../variables/variables.scss';

.bread-crumb {
    &__container {
        display: inline-block;
        cursor: pointer;

        &:hover {
            color: $primary-bg-white-sub-text;
            transition: all 0.3s ease;
        }
    }
    &__image {
        vertical-align: middle;
    }
    &__label {
        padding-left: 6px;
        font-size: 1rem;
    }
}
