@import '../../../../../variables/variables.scss';
.proposal-container {
    margin: 1%;
    border: 3px solid black;
    border-radius: 2px;
}
.header-section {
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    border-bottom: 2px solid black;
}
.table-contain {
    padding: 5% 2%;
    .table-border {
        border: 1px solid;
        .table-labels {
            display: flex;
            flex-direction: column;
            .mini-header {
                h3 {
                    text-align: center;
                }
            }
            .head-labels {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 2px solid;
                h4{
                    margin: 0;
                    height: 30px;
                    padding-top: 15px
                }
                .label-details {
                    width: 50%;
                    text-align: center;
                }
                .label-lamps {
                    width: 40%;
                    text-align: center;
                    border-left: 2px solid;
                }
                .label-price {
                    width: 10%;
                    text-align: center;
                    border-left: 2px solid;
                }
            }
        }
        table{
            width: 100%;
        }
        th{
            font-size: smaller;
            font-family: $font-family-medium;
            text-align: center;
            
        }
        td{
            font-size:x-small;
            font-family: $font-family-thin;
            text-align: center;
            
        }
        .cell{
            border-top: 1px solid;
            border-left: 1px solid;
        }
        .f-c{
            border-left: none;
        }
        .five{
            width: 5%;
        }
        .ten{
            width: 10%;
        }
        .fifteen{
            width: 15%;
        }
        .twenty{
            width: 17.5%;
        }
        .six{
            width: 6.4%;
        }
        .list{
            text-align: start !important;
        }
        .bold{
            font-family: $font-family;
            // font-size: smaller;
        }
    }
}
.editor-label {
    color: $accent-gold;
    background-color: black;
    border: 2px inset $accent-gold;
    border-radius: 2rem;
    padding: 10px 20px 10px 20px;
    width: fit-content;
}

.schedule-input {
    display: flex;
    // justify-content: space-evenly;
    align-items: baseline;
    // width:100%;
    // border: 2px solid blue;
    // padding-right: 20%;
    padding-left: 4%;
    .extra-marg {
        margin-left: 5%;
    }
    .input-container {
        display: flex;
        width: 25%;
        flex-direction: row;

        .input-label {
            width: 107px;
            text-align: center;
            background: black;
            padding: 10px 10px 0px 10px;
            font-size: 0.8rem;
            border-left: 2px inset #c6ad7c;
            border-top: 2px inset #c6ad7c;
            border-bottom: 2px inset #c6ad7c;
            border-radius: 5px 2px 2px 5px;
            color: white;
        }
        .date-pick-container {
            width: 270px;
            .date-picker {
                height: 38px;
                width: 95%;
                border-right: 2px inset #c6ad7c;
                border-top: 2px inset #c6ad7c;
                border-bottom: 2px inset #c6ad7c;
                border-radius: 3px 2rem 2rem 3px;
                // border: none;
            }
        }
        textarea {
            height: 37px;
            border-right: 2px inset #c6ad7c;
            border-top: 2px inset #c6ad7c;
            border-bottom: 2px inset #c6ad7c;
            border-radius: 3px 2rem 2rem 3px;
            resize: none;
            padding: 2px;
            // border: none;
        }
        .duration {
            height: 38px;
            width: 260px;
            border-radius: 3px 2rem 2rem 3px;
            border-right: 2px inset #c6ad7c;
            border-top: 2px inset #c6ad7c;
            border-bottom: 2px inset #c6ad7c;
        }
    }
    .schedule-add {
        height: fit-content;
        padding: 10px 20px 10px 20px;
        margin-left: 2%;
        color: white;
        background-color: $accent-gold;
        font-weight: 500;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            transition: all 0.2s ease-in-out;
            opacity: 0.8;
        }
    }
}
