@import '../../../variables/variables.scss';

.users-table-title {
    margin-top: 10px;
    h1 {
        margin: 0px;
    }
    p {
        font-size: 18px;
    }
}

.new-user-button {
    background: $accent-gold;
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    min-width: 140px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}

.users-table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    padding-bottom: 20px;
}

.users-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $primary-bg-dark-title;
}

.users-table-headers {
    font-size: $table-header-fs;
    font-weight: 500;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    border-bottom: 2px solid $primary-bg-dark-link;
    color: $primary-bg-dark-title;
    td {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.remove-td {
    padding-left: 30px;
}

.user-options-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-bg-dark-text;
    margin: 0 10px 0 0;
}

.user-table-row {
    font-size: 14px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    border-bottom: 2px solid $line-gray;
    color: $primary-bg-dark-title;
    th {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    td {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .button-td {
        justify-content: flex-end;
    }
    .remove-button-td {
        justify-content: center;
    }
}
