@import '../../../variables/variables.scss';

$gray: #9b9b9b;
.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $primary-bg-dark-text;
    padding: 7px 0;
    background: transparent;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 0.85rem;
        color: #c09d5b;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: $line-light;
}
/* reset input */
.form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.list__group {
    position: relative;
    padding: 15px 0 0;
    width: 20%;
}

.add__materials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.new-material-button {
    background: $accent-gold;
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    margin: 0 15px;
    min-width: 140px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}

.material__list {
    font-family: inherit;
    width: 50%;
    margin-top: 11px;
    border-bottom: 2px solid $gray;
    font-size: 1rem;
    color: $primary-bg-dark-text;
    padding: 7px 0;
    background: transparent;
}

.inventory-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inventory-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs {
    border-radius: 0 8px 0 0;
    overflow: hidden;
}
.tab {
    width: 100%;
    color: $primary-bg-dark-text;
    overflow: hidden;
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $primary-bg-dark;
        font-weight: bold;
        cursor: pointer;
        /* Icon */
        &:hover {
            background: darken($primary-bg-dark, 10%);
        }
        &::after {
            content: '\276F';
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
        }
    }
    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $primary-bg-dark-text;
        background: white;
        transition: all 0.35s;
    }
    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $primary-bg-dark;
        cursor: pointer;
        &:hover {
            background: darken($primary-bg-dark, 10%);
        }
    }
}

#chck1,
#chck2,
#chck3,
#chck4,
#chck5,
#chck6,
#chck7 {
    display: none;
}

// :checked
input:checked {
    + .tab-label {
        background: darken($primary-bg-dark, 10%);
        &::after {
            transform: rotate(90deg);
        }
    }
    ~ .tab-content {
        max-height: 200vh;
        padding: 1em;
    }
}

#inventory-btn {
    @include button(#528dea, #fff);
    width: 50%;
    align-self: center;
    margin-top: 25px;
    cursor: pointer;
}
