@import '../../../variables/variables.scss';

.body-input {
    width: 50%;
    margin-bottom: 20px;
}
.inventory-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inventory-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $primary-bg-dark;
        font-weight: bold;
        cursor: pointer;
        /* Icon */
        &:hover {
            background: darken($primary-bg-dark, 10%);
        }
        &::after {
            content: '\276F';
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
        }
    }
    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $primary-bg-dark;
        background: white;
        transition: all 0.35s;
    }
    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $primary-bg-dark;
        cursor: pointer;
        &:hover {
            background: darken($primary-bg-dark, 10%);
        }
    }
}

#chck1,
#chck2,
#chck3,
#chck4,
#chck5,
#chck6 {
    display: none;
}

// :checked
input:checked {
    + .tab-label {
        background: darken($primary-bg-dark, 10%);
        &::after {
            transform: rotate(90deg);
        }
    }
    ~ .tab-content {
        max-height: 100vh;
        padding: 1em;
    }
}

#inventory-btn {
    @include button(#528dea, #fff);
    width: 50%;
    align-self: center;
    margin-top: 25px;
    cursor: pointer;
}
