@import '../../../variables/variables.scss';

.admin-dashboard-container {
    padding-top: 100px;
    display: flex;
}

.admin-sidebar-container {
    background: $primary-bg-dark;
    position: relative;
    min-height: 100vh;
    min-width: 100px;
    top: 1px;
    padding: 30px 65px 0 30px;
}
.sidebar-link-container {
    padding: 10px;
}
.sidebar-link {
    text-decoration: none;
    color: $primary-bg-dark-link;
    &:hover {
        color: $accent-gold;
        text-decoration: underline;
    }
}
.active-sidebar-link {
    transform: scale(1.1);
    color: $accent-gold;
}

.admin-content-section {
    padding: 30px 100px 50px 50px;
    width: 100%;
}
