.all-projects-container {
    margin-right: 1%;
    margin-left: 1%;
    width: 97%;
}
.form-bar-button-container {
    display: inline-flex;
    margin-top: -15px;
    width: 100%;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 5px;
}

.dashboard-all-projects-search-bar {
    background-color: rgb(252, 247, 247);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    width: 200px;
}

.dashboard-all-projects-submit {
    background-color: black;
    padding: 5px 15px 5px 15px;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: 300;
}
.dashboard-all-projects-submit:hover {
    cursor: pointer;
}
// ~~~~~~~~~~~~~~~TABLE SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.dashboard-all-projects-table {
    width: 100%;
    border-bottom: 1px solid black;
}
.table-headers {
    text-align: left;
    font-size: 9px;
    padding: 5px;
}
.projects-table-dynamic-row {
    border-top: 1px solid black;
    font-size: 12px;
    width: 100%;
}
.projects-table-dynamic-name {
    text-align: left;
    margin-left: 15px;
    font-size: 13px;
    text-indent: 20px;
}

.projects-table-dynamic-status {
    span {
        border-radius: 0.5rem;
        padding: 1px 5px;
        font-size: 10px;
        font-weight: bold;
    }
    .statusColorNew {
        color: rgb(6, 6, 185);
        background-color: rgb(144, 216, 240);
    }
    .statusColorConstruction {
        color: rgb(160, 160, 3);
        background-color: rgb(243, 243, 140);
    }
    .statusColorCompleted {
        color: darkgreen;
        background-color: lightgreen;
    }
    .statusColorHold {
        color: rgb(185, 5, 5);
        background-color: rgb(238, 145, 145);
    }
    .statusColorConfigure {
        color: darkcyan;
        background-color: rgb(185, 250, 250);
    }
    .statusColorRFP {
        color: rgb(107, 103, 103);
        background-color: lightgray;
    }
    .statusColorInternalApproval {
        color: rgb(127, 45, 168);
        background-color: rgb(226, 149, 224);
    }
    .statusColorAwarded {
        color: rgb(41, 41, 160);
        background-color: rgb(184, 184, 247);
    }
    .statusColorCanceled {
        color: rgb(156, 123, 62);
        background-color: rgb(235, 201, 140);
    }
}
.projects-table-dynamic-dots {
    border-top: 1px solid black;
}

.bs-three-dots-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 4px;
}
.bs-three-dots-container:hover {
    border-radius: 50%;
    background: rgb(219, 219, 219);
}

.align-modal-dots {
    display: flex;
    justify-content: center;
}

.project-mini-modal {
    position: absolute;
    background: black;
    right: 60px;
    color: rgb(194, 194, 194);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    div {
        padding: 10px 25px;
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    p {
        padding-left: 10px;
        margin: 0;
    }
    .doc-type {
        border-top: solid 1px silver;
        font-weight: 300;
        font-size: 13px;
        opacity: 0.8;
    }
}

tr {
    height: 50px;
}

table {
    border-collapse: collapse;
}

// ~~~~~~~~~~~~~~~~~`PAGINATION LINKS~~~~~~~~~~~~~~
.page-item {
    list-style: none;
    display: inline;
    margin-left: 10px;
}
.page-link {
    list-style: none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.pages-list {
    display: inline-flex;
}
.page-link:hover {
    background-color: goldenrod;
}
