@font-face {
  font-family: "sweet-heavy";
  src: url("../../public/fonts/SweetSansProHeavy.woff") format("woff");
}
@font-face {
  font-family: "sweet-medium";
  src: url("../../public/fonts/SweetSansProMedium.woff") format("woff");
}
@font-face {
  font-family: "sweet-thin";
  src: url("../../public/fonts/SweetSansProThin.woff") format("woff");
}
.lightDetail-container {
  padding-top: 20px;
}

.light-top-catalog {
  padding-top: 10px;
}
.light-top-catalog span {
  font-weight: 500;
  padding-left: 10px;
}
.light-top-catalog p {
  color: #949494;
  font-size: 14px;
  padding-left: 26px;
}

.lightCard img {
  width: 100%;
  padding: 0;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 2px 4px, rgba(0, 0, 0, 0.231372549) 0px 2px 4px;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.pagination_ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination_ .text {
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
}

.page {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
}

.page.active,
.page:hover {
  color: #c6ad7c;
  padding-bottom: 0 !important;
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.item {
  height: 332px;
  margin: 10px;
  margin-top: 40px;
  width: 28.3333333333%;
  cursor: pointer;
}
.item:hover {
  transition: all 0.2s ease-in-out;
  background-color: #ecebe7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.item:hover img {
  transition: all 0.2s ease-in-out;
  opacity: 0.4;
}
.item .item-bottom-sections {
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 2px 4px, rgba(0, 0, 0, 0.231372549) 0px 2px 4px;
  border-bottom: solid 1px rgba(173, 169, 169, 0.6705882353);
  border-right: solid 1px rgba(173, 169, 169, 0.6705882353);
  border-left: solid 1px rgba(173, 169, 169, 0.6705882353);
  min-height: 100px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.item .item-bottom-sections h4 {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}
.item .item-bottom-sections span {
  color: #949494;
  font-size: 12px;
}

.input-light-search {
  padding: 10px;
  border-radius: 0.5rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 80%;
  background-color: rgba(231, 229, 229, 0.6705882353);
  border: none !important;
}
.input-light-search::-moz-placeholder {
  color: #949494;
}
.input-light-search:-ms-input-placeholder {
  color: #949494;
}
.input-light-search::placeholder {
  color: #949494;
}

.button-search {
  cursor: pointer;
  font-size: 30px;
  color: rgba(156, 156, 156, 0.6705882353);
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.button-search .icon-search {
  display: flex;
}

.lightCard {
  min-height: 740px;
  max-height: 740px;
  overflow-y: scroll;
}

.form-input-search {
  margin-bottom: 15px;
}

.container-filter {
  background-color: #ecebe7;
  position: relative;
  border-left: #c09d5b 1px solid;
  border-top: #c09d5b 1px solid;
}

.top-filter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 30px !important;
}
.top-filter h3 {
  padding-left: 10px;
  color: black;
}

.dashboard-all-projects-submit {
  background-color: black;
  padding: 5px 15px 5px 15px;
  color: white;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 300;
}

.filter-form-container {
  padding-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.filter-form-container p {
  padding-top: 5px;
  color: #949494;
}

.design-container h5 {
  color: #c09d5b;
  padding-top: 20px !important;
}

.button-container-filters {
  position: absolute;
  bottom: 2%;
  justify-content: center;
}
.button-container-filters button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #c09d5b;
  font-weight: 500;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button-container-filters button:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

@media screen and (max-width: 1283px) {
  .item {
    margin: 15px;
    margin-top: 10px;
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .item {
    margin: 15px;
    margin-top: 10px;
    width: 26.6666666667%;
  }
}
.catalog-back {
  transition: all 0.2s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.catalog-back:hover {
  transition: all 0.2s ease-in-out;
  color: #949494;
}

.type-catalog-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #c09d5b;
  font-weight: 500;
  border-radius: 0.2rem;
}

.name-id-catalog {
  padding-bottom: 20px !important;
}
.name-id-catalog h2 {
  margin-top: 25px;
}
.name-id-catalog span {
  color: #949494;
  font-weight: 500;
  font-size: 22px;
}
.name-id-catalog p {
  color: #949494;
  width: 75%;
}

.select-container {
  padding-left: 20px;
  padding-bottom: 20px;
}
.select-container .label-light {
  color: black;
  font-size: 13px;
  padding-bottom: 30px;
  font-weight: 600;
  padding-right: 20px;
}
.select-container select {
  color: #949494;
  border-radius: 0.2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}

.options-container {
  padding-left: 40px;
  padding-bottom: 20px;
}
.options-container .label-light {
  color: black;
  font-size: 13px;
  padding-bottom: 10px;
}
.options-container .options-select {
  color: #949494;
  border-radius: 0.2rem;
  width: 80px;
  padding: 0px;
}

.button-container {
  height: 50px;
}
.button-container h3 {
  padding: 6px;
  background-color: rgba(231, 229, 229, 0.6705882353);
}

.qty-button {
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: rgba(231, 229, 229, 0.6705882353);
  cursor: pointer;
}

.submit-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #c09d5b;
  font-weight: 500;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.submit-button:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.item-img-container {
  margin: 0;
  padding: 0;
}
.item-img-container h4 {
  padding-top: 20px !important;
}
.item-img-container p {
  padding-top: 10px !important;
}
.item-img-container img {
  width: 100%;
  height: 300px;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 2px 4px, rgba(0, 0, 0, 0.231372549) 0px 2px 4px;
}

.swiper-button-prev {
  color: rgb(66, 66, 66) !important;
}

.swiper-button-next {
  color: rgb(66, 66, 66) !important;
}

.swiper {
  padding-top: 10px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: black;
}

.img-details {
  height: 150px !important;
}

.container-left-packages-off {
  display: flex;
}

.container-left-packages-light {
  display: none;
}

.container-left-spec-off {
  display: none;
}

.package-list {
  color: #949494;
  border-bottom: solid 1px #949494;
  padding-bottom: 8px !important;
}

.spec-main-container {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.spec-container {
  border-bottom: solid 1px #949494;
}
.spec-container p {
  color: #949494;
  padding-bottom: 10px !important;
}
.spec-container .number-spec {
  color: black;
}

.container-down-off {
  display: none !important;
}

.downArrow {
  font-size: 26px;
  color: #949494;
}

.room-details-container {
  background-color: white;
  padding: 0;
}

.room-details-top {
  display: inline-flex;
}

.room-details-close-button {
  font-size: 20px;
  margin: 10px;
}

.room-details-close-button:hover {
  cursor: pointer;
}

.room-details-project-name {
  font-size: 12px;
  padding-left: 300px;
}

.room-details-room-name-bar {
  margin-right: 0px;
  display: inline-flex;
  width: 350px;
  justify-content: space-evenly;
}

.trash-icon {
  margin-left: 15px;
  font-weight: 800;
  font-size: 1.2em;
}

.trash-icon:hover {
  cursor: pointer;
}

.room-description-light-divider {
  border-bottom: 1px solid rgba(173, 169, 169, 0.6705882353);
  margin-right: 20px;
  margin-left: 20px;
}

.room-description-no-lights {
  display: block;
  align-self: center;
  align-content: center;
  padding-left: 35%;
  padding-top: 15%;
}

.roomDetail-container {
  border-right: 1px solid rgba(173, 169, 169, 0.6705882353);
}

.project-date {
  border-right: 1px solid black;
  margin-left: 20px;
  padding-right: 20px;
}
.project-date h3 {
  font-size: 22px;
}
.project-date p {
  font-size: 13px;
  color: #949494;
}

.project-name {
  margin-right: 2rem;
  font-weight: bold;
  position: relative;
}
.project-name .room-details-circle-icon {
  position: absolute;
  margin-left: 0.5rem;
  font-size: 18px;
}
.project-name .project-tag {
  font-size: 12px;
  color: #949494;
}

.description-container h4 {
  margin-left: 20px;
  font-weight: 400;
}
.description-container p {
  padding-left: 120px;
  padding-right: 30px;
  color: #949494;
}

.light-number {
  margin-left: 20px;
  font-weight: 500;
}

.container-no-lights {
  height: 200px;
  color: #949494;
}

.back-to-project {
  margin-top: 1rem;
  font-weight: bold;
}
.back-to-project .chevron-icon {
  position: relative;
  top: 2px;
}
.back-to-project a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  cursor: pointer;
}
.back-to-project a:hover {
  color: rgba(173, 169, 169, 0.6705882353);
}

.icon-container {
  padding-left: 20px;
}

.collapse-button {
  cursor: pointer;
  font-weight: 500;
  padding-right: 20px;
}
.collapse-button span {
  font-size: 20px;
  padding-left: 10px;
}

.container-for-light-cards-off {
  min-height: 510px;
  max-height: 510px;
  overflow-y: scroll;
}

.container-for-light-cards {
  min-height: 510px;
  max-height: 510px;
  overflow-y: scroll;
}
.container-for-light-cards .single-room-container {
  background-color: #ecebe7;
  position: relative;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(173, 169, 169, 0.6705882353);
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name {
  padding-left: 20px;
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name p {
  color: #949494;
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name .edit-link {
  text-decoration: underline;
  padding-right: 15px;
  font-size: 16px !important;
  color: #c09d5b;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name .edit-link:hover {
  transition: all 0.2s ease-in-out;
  color: black;
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name .remove-link {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px !important;
  color: #949494;
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
}
.container-for-light-cards .single-room-container .first-light-section .first-section-name .remove-link:hover {
  transition: all 0.2s ease-in-out;
  color: black;
}
.container-for-light-cards .single-room-container .first-light-section .qty {
  position: absolute;
  font-weight: 600;
  right: 0px;
  top: 0px;
  padding-right: 10px;
  font-size: 13px;
}
.container-for-light-cards .single-room-container .first-light-section .qty span {
  padding-left: 10px;
  color: #949494;
}
.container-for-light-cards .single-room-container .lightImg {
  box-shadow: rgba(63, 60, 57, 0.1607843137) 0px 3px 6px, rgba(63, 60, 57, 0.231372549) 0px 3px 6px;
  height: 85px;
  border-radius: 0.2rem;
}

.second-light-section {
  padding-top: 30px;
}
.second-light-section .second-left-section p {
  padding-left: 25px;
}

.second-right-section .right-section-inner {
  padding-left: 50px;
}
.second-right-section .right-section-inner p {
  padding-left: 10px;
}

.delete-Modal-container {
  min-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete-Modal-container .delete-modal-button {
  background-color: red !important;
  padding: 10px 12px 10px 12px;
  width: 50%;
}

.room-icons {
  cursor: pointer;
}

.details-container {
  padding-top: 100px !important;
}

@media screen and (max-width: 992px) {
  .container-for-light-cards {
    min-height: 0px;
    max-height: 280px;
  }
  .container-for-light-cards-off {
    display: none;
  }
  .roomDetail-container {
    border-right: none;
  }
}/*# sourceMappingURL=roomDetails.css.map */