@import '../../.././variables/variables.scss';

.carousel-container {
    margin-bottom: 10px;
    padding: 12px;
}

.img-wrapper {
    background: #777;
}

.selected-image {
    width: 100%;
    height: 400px;
    margin-bottom: 8px;
    object-fit: cover;
}

.carousel {
    position: relative;
}

.carousel__images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
    background: #ccc;
}

.carousel__image-selected {
    border: 3px solid $accent-gold !important;
}

.carousel__image {
    margin-right: 10px;
    height: 150px;
    min-width: 150px;
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel__button {
    position: absolute;
    top: 40%;
    outline: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3 ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.carousel__button-left {
    left: 10px;
}

.carousel__button-right {
    right: 10px;
}
