@import '../../../variables/variables.scss';

.light-details {
    &__container {
        padding-top: 16px;
    }

    &__heading {
        display: flex;
        justify-content: space-between;

        &.edit-prompt {
            text-align: end;
            &__room-name {
                text-decoration: underline;
                padding-left: 6px;
            }
        }
    }

    &__carousel-wrapper {
        display: inline-block;
        width: 50%;
    }

    &__description-wrapper {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    &__item-name {
        display: block;
        font-size: 2rem;
        margin: 0;
    }
    &__item-id {
        color: $primary-bg-white-sub-text;
    }
}
