@font-face {
  font-family: "sweet-heavy";
  src: url("../../public/fonts/SweetSansProHeavy.woff") format("woff");
}
@font-face {
  font-family: "sweet-medium";
  src: url("../../public/fonts/SweetSansProMedium.woff") format("woff");
}
@font-face {
  font-family: "sweet-thin";
  src: url("../../public/fonts/SweetSansProThin.woff") format("woff");
}
.project-details-attachment h3 {
  color: black;
}
.project-details-attachment p {
  color: #949494;
}

.img-container-attach {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.img-container-attach img {
  height: 200px;
  width: 300px;
}

.btn-attach-add {
  border: none;
  background-color: #c09d5b;
  padding: 8px 12px 8px 12px;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.projects-bottom-half {
  display: flex;
}

.all-project-view-main-container {
  margin-top: 140px;
  color: #949494;
  width: 100%;
  border-right: 1px #c09d5b solid;
}

.button-filter-container {
  width: 100%;
}
.button-filter-container button {
  cursor: pointer;
}

.all-project-button {
  transition: all 0.2s ease-in-out;
  background-color: #c09d5b;
  border: 1px #c09d5b solid;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  color: #f7f6f4;
}

.your-projects-button {
  transition: all 0.2s ease-in-out;
  background-color: #c09d5b;
  border: 1px #c09d5b solid;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  color: #f7f6f4;
}

.type-project-btn {
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: #ecebe7;
}
.type-project-btn:hover {
  transition: all 0.2s ease-in-out;
  background-color: #949494;
  color: white;
}

.form__field1 {
  font-family: inherit;
  width: 100%;
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid #949494;
  outline: 0;
  font-size: 14px;
  color: #949494;
  padding: 7px 0;
  background: transparent;
}
.form__field1::-moz-placeholder {
  color: transparent;
}
.form__field1:-ms-input-placeholder {
  color: transparent;
}
.form__field1::placeholder {
  color: transparent;
}
.form__field1:-moz-placeholder-shown ~ .form__label1 {
  font-size: 14px;
  cursor: text;
  top: 20px;
}
.form__field1:-ms-input-placeholder ~ .form__label1 {
  font-size: 14px;
  cursor: text;
  top: 20px;
}
.form__field1:placeholder-shown ~ .form__label1 {
  font-size: 14px;
  cursor: text;
  top: 20px;
}

.form__field1:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #c09d5b;
}
.form__field1:focus ~ .form__label1 {
  position: absolute;
  top: 20px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #c09d5b;
  font-weight: 700;
}

.form__label1 {
  position: absolute;
  top: 20px;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #949494;
}

.projects-top-half {
  display: flex;
  flex-direction: row;
  height: 450px;
}

.project-summary-container {
  margin-top: 100px;
  background-color: #ecebe7;
  color: #949494;
  width: 100%;
  border-right: 1px #c09d5b solid;
}

.back-to-projects {
  display: inline-flex;
}
.back-to-projects .chevron-icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.back-to-projects a {
  margin-top: 12px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 12px;
  color: #808080;
  position: relative;
  z-index: 2;
}
.back-to-projects .back-to-all-projects {
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  background-color: #ecebe7;
}
.back-to-projects .back-to-all-projects:hover {
  transition: all 0.2s ease-in-out;
  color: #949494;
}

.back-to-projects:hover {
  cursor: pointer;
}

.project-summary-top-bar {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.project-summary-project-name {
  width: 110%;
}

.project-summary-name-and-date {
  border-right: 0.1px solid rgb(48, 47, 47);
  padding-right: 20px;
}

.circle-icon {
  margin-left: 15px;
  font-size: 15px;
}

.project-summary-date {
  font-size: 14px;
  margin-top: -15px;
  color: #808080;
}

.project-summary-icons {
  display: inline-flex;
  align-self: center;
  margin-left: 20px;
  width: 40%;
}

.archive-icon {
  margin-left: 15px;
  font-size: 1.2em;
  color: #949494;
}

.archive-icon:hover {
  cursor: pointer;
}

.clone-icon {
  margin-left: 15px;
  font-size: 1.2em;
  color: #949494;
}

.clone-icon:hover {
  cursor: pointer;
}

.edit-icon {
  margin-left: 0px;
  font-size: 1.2em;
  color: #949494;
}

.edit-icon:hover {
  cursor: pointer;
}

.status {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.project-summary-text-container {
  margin: 0 2em;
  font-size: 14px;
}

.project-summary-description-text {
  font-weight: 100;
  font-size: 12px;
}

.project-attachments-container {
  padding-top: 140px;
  background-color: #ecebe7;
  width: 100%;
  color: #949494;
}

.project-attachments-top-bar {
  margin-left: 15px;
  display: inline-flex;
  height: 60px;
}

.project-attachment {
  padding-right: 20px;
  color: #949494;
}

.paperclip-icon {
  border-radius: 50%;
  background-color: rgb(41, 40, 40);
  margin-top: 17px;
  margin-left: 20px;
  padding: 5px;
}

.paperclip-icon:hover {
  cursor: pointer;
}

.attach-file-text {
  font-size: 8px;
  margin-top: 25px;
  margin-left: 5px;
}

.project-attachments-table-container {
  margin-left: 10%;
  border-bottom: 1px solid rgb(39, 39, 40);
  margin-right: 10%;
  color: #3f3c39;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 200px;
}

.attachments-file-name {
  width: 80%;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid rgb(39, 39, 40);
}

.attachments-file-remove {
  width: 20%;
  font-size: 13px;
  text-align: center;
}

.attachments-table {
  border-bottom: 1px solid rgb(39, 39, 40);
  width: 100%;
}
.attachments-table thead {
  top: 0;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  background: rgb(236, 235, 231);
  border-bottom: 2px solid #3f3c39;
}

.attachments-dynamic-row:hover {
  transition: 200ms ease;
}

.file-file-name {
  font-size: 14px;
  border-top: 1px solid rgb(39, 39, 40);
  font-weight: 200;
  padding: 15px;
  font-size: 12px;
}

.file-file-remove {
  font-size: 12px;
  border-top: 1px solid rgb(39, 39, 40);
  text-align: center;
}

.file-file-remove:hover {
  cursor: pointer;
  color: red;
}

.project-attachments-view-all {
  float: right;
  margin-right: 10%;
  font-size: 12px;
}

.project-attachments-view-all:hover {
  cursor: pointer;
}/*# sourceMappingURL=projects.css.map */