@import "../../../variables/variables.scss";

.projects-top-half {
  display: flex;
}
//   project summary component~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.project-summary-container {
  margin-top: 100px;
  background-color: $primary-bg-dark;
  color: white;
  width: 70%;
  height: 40vh;
}

.back-to-projects {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-flex;
  font-size: 9px;
  color: #808080;
}
.back-to-projects:hover {
  cursor: pointer;
}

.chevron-icon {
  margin-top: 10px;
  margin-right: 10px;
}

.project-summary-top-bar {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
}

.project-summary-name-and-date {
  border-right: 0.1px solid rgb(48, 47, 47);
  padding-right: 20px;
}

.project-summary-project-name {
  margin-top: 10px;
}

.circle-icon {
  margin-left: 15px;
  position: relative;
  top: -2px;
  font-size: 10px;
}

.project-summary-date {
  font-size: 10px;
  margin-top: -20px;
  color: #808080;
}

.project-summary-icons {
  display: inline-flex;
  margin-top: 15px;
  margin-right: 20px;
}

.archive-icon {
  margin-left: 15px;
  font-size: 1.2em;
  color: #acacac;
}
.archive-icon:hover {
  cursor: pointer;
}

.clone-icon {
  margin-left: 15px;
  font-size: 1.2em;
  color: #acacac;
}
.clone-icon:hover {
  cursor: pointer;
}

.edit-icon {
  margin-left: 0px;
  font-size: 1.2em;
  color: #acacac;
}
.edit-icon:hover {
  cursor: pointer;
}

.status {
  font-size: 12px;
  margin-top: 18px;
}

.project-summary-text-container {
  margin-left: 65px;
  font-size: 12px;
}

.project-summary-description-text {
  margin-left: 80px;
  margin-right: 20px;
  font-weight: 100;
}
// Project attachments component~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.project-attachments-container {
  padding-top: 140px;
  background-color: $primary-bg-dark;
  width: 100%;
  color: white;
  // border-left: 0.5px solid rgb(61, 61, 61);
}
.project-attachments-top-bar {
  margin-left: 15px;
  display: inline-flex;
  height: 60px;
}

.project-attachment {
  padding-right: 20px;
  border-right: 0.1px solid rgb(48, 47, 47);
}

.paperclip-icon {
  border-radius: 50%;
  background-color: rgb(41, 40, 40);
  margin-top: 17px;
  margin-left: 20px;
  padding: 5px;
}

.paperclip-icon:hover {
  cursor: pointer;
}

.attach-file-text {
  font-size: 8px;
  margin-top: 25px;
  margin-left: 5px;
}

.project-attachments-table-container {
  height: 65%;
  margin-left: 10%;
  border-bottom: 1px solid rgb(39, 39, 40);
  margin-right: 10%;
}

.attachments-file-name {
  width: 400px;
  font-size: 10px;
  text-align: left;
}

.attachments-file-size {
  width: 100px;
  font-size: 10px;
  text-align: left;
}

.attachments-table {
  border-top: 1px solid rgb(39, 39, 40);
  border-bottom: 1px solid rgb(39, 39, 40);
  width: 100%;
}

.attachments-dynamic-row:hover {
  background-color: rgb(38, 39, 39);
}

.file-file-name {
  font-size: 14px;
  border-top: 1px solid rgb(39, 39, 40);
  font-weight: 200;
}

.file-file-size {
  font-size: 12px;
  margin-right: 15px;
  border-top: 1px solid rgb(39, 39, 40);
  font-weight: 200;
}

.file-file-remove {
  font-size: 12px;
  border-top: 1px solid rgb(39, 39, 40);
  text-align: center;
}

.file-file-remove:hover {
  cursor: pointer;
  color: red;
}

.project-attachments-view-all {
  float: right;
  margin-right: 10%;
  font-size: 12px;
}

.project-attachments-view-all:hover {
  cursor: pointer;
}
