//Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900");
$font-family: "Montserrat";

//Dark Background Colors
$primary-bg-dark: #101010;
$primary-bg-dark-title: #f2f2f2;
$primary-bg-dark-text: #cbcbcb;
$primary-bg-dark-link: #cbcbcb;
$primary-bg-dark-link-hover: #f2f2f2;
$primary-bg-dark-link-active: #f2f2f2;
$primary-bg-dark-button-text: #f2f2f2;

//White Background Colors
$primary-bg-white: #f2f2f2;
$primary-bg-white-text: #101010;

//Accent Colors
$accent-gold: #c6ad7c;

//Line details and horizontal line colors
$line-height: 0.5px;
$line-dark: #3c3c3c;
$line-light: #cbcbcb;

//Font sizes
$nav-link-fs: 14px;
$primary-title-fs: 30px;
$primary-text-fs: 16px;
$sub-text-fs: 14px;
$table-header-fs: 14px;

//Box Shadow
$box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;

//Mixins *in progress
@mixin input-label {
  font-size: 14px;
  font-weight: bold;
  color: $primary-bg-white-text;
  margin-bottom: 5px;
}

@mixin input-field {
  border: 1px solid $line-light;
  border-radius: 5px;
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 25px;
}

@mixin link-bg-white {
  text-decoration: none;
  font-size: 12px;
  color: $primary-bg-white-text;
  font-weight: bold;
}

@mixin nav-link {
  color: $primary-bg-dark-link;
  text-decoration: none;
  font-size: $nav-link-fs;
  font-weight: 100;
}

@mixin vertical-line {
  height: 35px;
  width: 1px;
  background-color: $line-dark;
}

@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
}
