@import "../../../../variables/variables.scss";

.catalog-design-styles {
  flex: 1;
  color: $primary-bg-dark-text;
  span {
    position: relative;
    top: 25px;
    left: 50px;
  }
}
.catalog-design-styles-buttons {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-row-gap: 15px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
  .design-style-button {
    width: 220px;
    padding: 20px 0;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid $accent-gold;
    color: $primary-bg-dark-text;
    font-size: 16px;
    font-weight: 100;
  }
  .design-style-button:hover {
    cursor: pointer;
    background-color: $accent-gold;
    font-weight: bold;
  }
}

.catalog-design-styles-divider {
  height: 0.5px;
  width: 100%;
  background-color: $line-dark;
}
