@import '../../../variables/variables.scss';


.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $primary-bg-dark;
    height: 131vh;
    margin-top: -31vh;
    max-width: auto;
    background-color: $primary-bg-dark;
    margin-top: -30vh;
    padding-left: 1%;
    h4 {
        color: $primary-bg-dark-title;
        font-size: $primary-title-fs;
        margin-right: 20px;
    }
    a:hover {
        cursor: pointer;
    }
}

.overview-vertical-divider {
    display: flex;
    align-self: center;
    height: 35px;
    width: 1px;
    background-color: $accent-gold;
    margin: 0 20px;
}

button.dashboard-new-project-button {
    background-color: $primary-bg;
    color: $primary-bg-light-button-text;
    border-radius: 5px;
}

button.dashboard-new-project-button:hover {
    background-color: $primary-bg-light-button-hover;
    border-color: $primary-bg-light-button-hover;
    transition: all 0.2s ease-in-out;
    color: $primary-bg-light-button-text;
}

.dashboard-new-project-sub-text {
    color: $primary-bg-light-button-text;
    position: relative;
    top: 0.1.1vh;
}

.submit-icon {
    color: $primary-bg-light-button-text;
    position: relative;
    margin-bottom: -0.17vh;
}

div.dashboard-project-overview {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    gap: 46px;
}

.overview-display {
    margin: 0 25px;
    position: relative;
    top: -50px;
    flex-basis: 100%;
    display: grid;
    color: $primary-bg-dark-title;
    grid-template-columns: 45px 40px 130px 40px 120px 40px 110px 40px 70px 40px 120px;
    grid-template-rows: 20px 50px;
    grid-template-areas:
        'total_icon total_title total_title total_title . . . . . . .'
        'total_icon total_num . . . . . . . . .'
        '. configure_icon configure_title completed_icon completed_title saved_icon saved_title hold_icon hold_title template_icon template_title'
        '. configure_icon configure_num completed_icon completed_num saved_icon saved_num hold_icon hold_num template_icon template_num';
}

.overview-icon-main {
    display: flex;
    width: 40px;
    height: auto;
    margin-right: -12vh;
    color: $primary-bg-light-grey;
}

.filteredProjectsNumber {
    margin-right: 0.5vh;
    margin-left: -1.5vw;
    font-weight: bold;
}

.overview-num {
    display: flex;
    font-weight: bolder;
    margin-left: -1.5vw;
}

.overview-total {
    display: flex;
    grid-area: total_icon;
}

.overview-total-title {
    display: flex;
    grid-area: total_title;
}

.overview-configure-title {
    display: flex;
    grid-area: configure_title;
    color: $primary-bg;
}

.overview-configure-num {
    display: flex;
    grid-area: configure_num;
}

.overview-completed-title {
    display: flex;
    grid-area: completed_title;
    color: $primary-bg;
}

.overview-completed-num {
    display: flex;
    grid-area: completed_num;
}

.overview-saved-title {
    display: flex;
    grid-area: saved_title;
    color: $primary-bg;
}

.overview-saved-num {
    display: flex;
    grid-area: saved_num;
}

.overview-hold-title {
    display: flex;
    grid-area: hold_title;
    color: $primary-bg;
}

.overview-hold-num {
    display: flex;
    grid-area: hold_num;
}

.overview-template-title {
    display: flex;
    grid-area: template_title;
    color: $primary-bg;
}

.overview-template-num {
    display: flex;
    grid-area: template_num;
    margin-right: -0.75%;
}

.dashboard-your-projects {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    .your-projects-icons {
        margin-left: auto;
        color: $primary-bg-dark-link-hover;
        font-size: 20px;
        position: relative;
        top: 5px;
    }
    #your-project-icons-left {
        padding-right: 10px;
    }
    .your-projects-buttons {
        font-size: 25px;
    }
    .your-projects-buttons:hover {
        cursor: pointer;
        color: rgba(63, 60, 57, 0.219);
    }
}

.overview-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
    margin-left: 0.1%;
}

.dashboard-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
}

.your-projects-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 25vh;
    gap: 4%;
    flex-direction: row;
    justify-content: center;
    margin-left: 5.25%;
    margin-top: 1.5vh;
    .your-projects-none {
        flex-grow: 1;
        text-align: center;
        span {
            color: #777777;
            font-size: 13px;
        }
    }
}

.single-project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
    padding-bottom: 2vh;
    span {
        padding: 10px 15px 0 15px;
        font-size: 12px;
        color: $primary-bg-dark-title;
    }
    .card-divider {
        align-self: center;
        height: 0.5px;
        width: auto;
        margin-top: 15px;
        background-color: #000000;
    }
    h3 {
        padding: 5px 15px;
        color: $primary-bg-dark-title;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 50px;
    }
    .view-details-block {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: rgb(0 0 0 / 22%);
        span {
            position: relative;
            top: -5px;
            color: #fff;
            letter-spacing: 1px;
            margin-left: auto;
        }
        .view-details-chevron {
            position: relative;
            top: 1px;
            font-size: 10px;
            padding-left: 8px;
        }
    }
}

.your-rooms-section > .single-project {
    padding-bottom: 2vh;
    height: 25vh;

    .view-details-block {
        position: absolute;
        bottom: 0;
    }
}

.your-projects-section > .single-project {
    justify-content: space-between;
}

.single-project:hover {
    transition: all 400ms ease;
    opacity: 0.8;
    cursor: pointer;
    h3 {
        color: black;
    }
}

.archive-icon {
    font-size: 1.2em;
    color: $primary-bg-dark-text;
}
.archive-icon:hover {
    cursor: pointer;
}
