@import '../../../variables/variables.scss';

.dashboard-container {
    display: flex;
    // height: 100%;
    width: 100%;
    padding-bottom: 45px;
    padding-top: 100px;
    background-color: $primary-bg-dark;
    box-shadow: $box-shadow;
    h4 {
        color: $primary-bg-dark-title;
        font-size: $primary-title-fs;
    }
    a:hover {
        font-weight: bold;
        cursor: pointer;
    }
}

.dashboard-new-project-button {
    background-color: $primary-bg-dark-button;
    padding: 1.5%;
    width: 15%;
    text-align: center;
    letter-spacing: .25vh;
    font-size: 3rem;
}

.dashboard-new-project-button:hover {
    // background-color: hsla(0, 0%, 100%, 0.13);
    background-color: $primary-bg-light-button-hover;
    color: $primary-bg-light-button-text; 
    // border-radius: 50px;
}

.dashboard-new-project-sub-text {
    color: $primary-bg-light-button-text;
    font-size: 12px;
    position: relative;
    top: -1px;
}

.submit-icon {
    color: $primary-bg-light-button-text;
}

// project overview
.dashboard-project-overview {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    h4 {
        padding: 5px 25px;
    }
}

// project overview grid - not responsive yet (will change grid layout in media query for ipad and mobile)
.overview-display {
    margin: 0 25px;
    position: relative;
    top: -50px;
    flex-basis: 100%;
    display: grid;
    color: $primary-bg-dark-title;
    grid-template-columns: 45px 40px 130px 40px 120px 40px 110px 40px 70px 40px 120px;
    grid-template-rows: 20px 50px;
    grid-template-areas:
        'total_icon total_title total_title total_title . . . . . . .'
        'total_icon total_num . . . . . . . . .'
        '. configure_icon configure_title completed_icon completed_title saved_icon saved_title hold_icon hold_title template_icon template_title'
        '. configure_icon configure_num completed_icon completed_num saved_icon saved_num hold_icon hold_num template_icon template_num';
}

.overview-icon-main {
    width: 40px;
    height: auto;
    color: $primary-bg-light-grey;
}

.overview-label-main {
    color: $primary-bg-light-grey;
    position: relative;
    top: 5px;
    font-size: $sub-text-fs;
}

.overview-num-main {
    font-family: $font-family;
    font-size: 20px;
}

.overview-icon {
    width: 30px;
    height: auto;
    color: $primary-bg-light-grey;
}

.overview-label {
    color: $primary-bg-light-grey;
    font-size: 12px;
}

.overview-num {
    font-weight: bolder;
}

// overview grid-area sections
.overview-total {
    grid-area: total_icon;
}

.overview-total-title {
    grid-area: total_title;
}

.overview-total-num {
    grid-area: total_num;
}

.overview-configure {
    grid-area: configure_icon;
}

.overview-configure-title {
    grid-area: configure_title;
}

.overview-configure-num {
    grid-area: configure_num;
}

.overview-completed {
    grid-area: completed_icon;
}

.overview-completed-title {
    grid-area: completed_title;
}

.overview-completed-num {
    grid-area: completed_num;
}

.overview-saved {
    grid-area: saved_icon;
}

.overview-saved-title {
    grid-area: saved_title;
}

.overview-saved-num {
    grid-area: saved_num;
}

.overview-hold {
    grid-area: hold_icon;
}

.overview-hold-title {
    grid-area: hold_title;
}

.overview-hold-num {
    grid-area: hold_num;
}

.overview-template {
    grid-area: template_icon;
}

.overview-template-title {
    grid-area: template_title;
}

.overview-template-num {
    grid-area: template_num;
}

// your projects
.dashboard-your-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: baseline;
    // width: 60%;
    // margin: 0 20px 0 0;
    overflow-x: scroll;
    // h4 {
    //     padding: 5px 25px 0 0;
    // }
    button {
        background-color: $primary-bg-dark-button #3f3c39;
        color: $primary-bg-dark-link;
        font-size: 16px;
        border: none;
        margin-left: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .your-projects-icons {
        margin-left: auto;
        color: $primary-bg-dark-link-hover;
        font-size: 20px;
        position: relative;
        top: 5px;
    }
    #your-project-icons-left {
        padding-right: 10px;
    }
    .your-projects-buttons {
        font-size: 25px;
    }
    .your-projects-buttons:hover {
        cursor: pointer;
        color: rgba(63, 60, 57, 0.219);
    }
}

.overview-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
}

.dashboard-vertical-divider {
    @include vertical-line;
    position: relative;
    top: 10px;
}

.your-projects-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    height: 210px;
    width: 100%;
    .your-projects-none {
        flex-grow: 1;
        text-align: center;
        span {
            color: #777777;
            font-size: 12px;
        }
    }
}

// single project
.single-project {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    margin-right: 30px;
    border-radius: 3px;
    span {
        padding: 10px 15px 0 15px;
        font-size: 12px;
        color: $primary-bg-dark-title;
    }
    .card-divider {
        align-self: center;
        height: 0.5px;
        width: 80%;
        margin-top: 15px;
        background-color: #000000;
    }
    h3 {
        padding: 5px 15px;
        color: $primary-bg-dark-title;
        text-align: center;
    }
    .view-details-block {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: rgb(0 0 0 / 22%);
        span {
            position: relative;
            top: -5px;
            color: #fff;
            letter-spacing: 1px;
            margin-left: auto;
        }
        .view-details-chevron {
            position: relative;
            top: 1px;
            font-size: 10px;
            padding-left: 8px;
        }
    }
}

.single-project:hover {
    transition: all 400ms ease;
    opacity: 0.8;
    cursor: pointer;
    h3 {
        color: black;
    }
}

.archive-icon {
    font-size: 1.2em;
    color: $primary-bg-dark-text;
}
.archive-icon:hover {
    cursor: pointer;
}
